/* General Styles */
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    /* Colors */
    --clr-text: #ecebe4ff;
    --clr-bold: #12375c;
    --clr-primary: #312b6c;
    --clr-accent: #8c84e4;
    --clr-nav: #faf4fc;


    /* Unused clrs */
    --moss-green: #898952ff;
    /* --clr-primary: #835d7fff; */
    /* --clr-accent: #f31693ff; */

    /* Fonts */
    --ff-logo: ;
    --ff-title: 'Chelsea Market', cursive;
    --ff-body: 'Montserrat', sans-serif;

}

html {
    box-sizing: border-box;
    font-family: var(--ff-body);
    color: var(--clr-text);
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;

    /* this is to keep footer at bottom w/out creating empty space */

}

/* Images */
img {
    display: block;
    max-width: 100%;
}

/* Sections */
section {
    padding: 4rem 1rem;
}


/* Typography */

h1,
h2,
h3 {
    font-family: var(--ff-title);
}

p {
    margin-bottom: 1rem;
}

.text-bold {
    color: var(--clr-bold)
}

.text-emphasized {
    font-weight: 900;
    color: var(--clr-accent);
    font-size: large;
}

.text-double-underline {
    border-bottom: 0.3rem double var(--clr-text);
}


/* Navigation */

header {
    padding: 1rem 2rem
}

.primary-header {
    height: 7rem;
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    border-radius: 0 0 1rem 1rem;
    margin: 0 auto;
}

.logo-img {
    width: 12rem;
    margin-top: 8rem;
}

nav .logo-img {
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    display: block;
    margin: 0 0.2rem;
    font-weight: 600;
    padding: 0.8rem 1.8rem;
    transition: 0.2s;
    border-radius: 3rem;
    background-color: var(--clr-accent);
    color: var(--clr-bold);
    text-decoration: none;
}

nav ul li a:link {
    background-color: var(--clr-nav);
}

nav ul li a:visited {
    background-color: var(--clr-accent);
}

nav ul li a:hover {
    background-color: var(--clr-nav);
    font-size: 1.7rem;
}

/* Mobile/Hamburger Menu */

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    transition: 0.2s;
}

.hamburger:hover {
    background-color: var(--clr-accent);
}

.hamburger div {
    width: 3rem;
    height: 0.2rem;
    margin: 0.6rem 0;
    background-color: var(--clr-nav);
}



/* Buttons */
.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    padding: 0.5rem 1.75rem;
    color: whitesmoke;
    text-decoration: none;
    display: block;
    border-radius: 1rem;
}


.btn-primary {
    background-color: var(--clr-accent);
}

/* Homepage styles */

.intro {
    /* text-align: center; */
    background-color: var(--clr-accent);
}

.about-us {
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.resources {
    padding: 0;
    margin: 0;
    border-bottom: 0.2rem solid var(--clr-bold);
}

.resources .section-title {
    color: var(--clr-bold);
}

.resources-links {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0;
    row-gap: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.resources-links li {
    list-style-type: none;
    text-align: center;
}

.resources-links a {
    /* text-decoration: none; */
    color: var(--clr-primary);
}

/* Image Slider */

/* .img-slider {
    margin: 0;
    padding: 0;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide>img {
    width: 80%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    z-index: 1;
    opacity: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 0.55rem;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
    outline: 0.1rem solid black;
}

.carousel-button.prev {
    left: 4rem;
}

.carousel-button.next {
    right: 4rem;
} */

/* Footer */
footer {
    background-color: var(--clr-primary);
    padding: 4rem 1rem;
    color: var(--clr-text);
}

footer a {
    color: inherit;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    row-gap: 1rem;
}

.footer-nav a {
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}


.footer-social {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    list-style-type: none;
}

.footer-social img {
    width: auto;
    height: 5rem;
}

.footer-legal {
    margin-top: 1.25rem;
}

/* Media Queries for larger screen sizes */
/* Desktop 769px-1024px+ */
@media (min-width: 769px) {}

/* Mobile Hamburger Menu media query */
@media (max-width: 769px) {

    nav {
        position: absolute;
        left: -30rem;
        top: 0;
        z-index: 100;
        width: 20rem;
        height: 100vh;
        background-color: var(--clr-primary);
        transition: 0.2s;
        box-shadow: 0.2rem 0 2rem 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked~nav {
        left: 0;
    }

    nav .logo-img {
        display: block;
        height: 7rem;
        display: flex;
        align-items: center;
        margin-left: 3rem;
    }

    nav ul li a {
        margin-bottom: 0.5rem;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
    }

    nav ul {
        display: block;
        padding: 0 2rem;
        margin-top: 3rem;
    }

    .hamburger {
        display: block;
    }
}