/* Coolors Exported Palette - https://coolors.co/070707-ecebe4-898952-f31693-835d7f */

/* CSS HEX */
--rich-black-fogra-39: #070707ff;
--alabaster: #ecebe4ff;
--moss-green: #898952ff;
--magenta-process: #f31693ff;
--chinese-violet: #835d7fff;

/* CSS HSL */
--rich-black-fogra-39: hsla(0, 0%, 3%, 1);
--alabaster: hsla(52, 17%, 91%, 1);
--moss-green: hsla(60, 25%, 43%, 1);
--magenta-process: hsla(326, 90%, 52%, 1);
--chinese-violet: hsla(306, 17%, 44%, 1);

/* SCSS HEX */
$rich-black-fogra-39: #070707ff;
$alabaster: #ecebe4ff;
$moss-green: #898952ff;
$magenta-process: #f31693ff;
$chinese-violet: #835d7fff;

/* SCSS HSL */
$rich-black-fogra-39: hsla(0, 0%, 3%, 1);
$alabaster: hsla(52, 17%, 91%, 1);
$moss-green: hsla(60, 25%, 43%, 1);
$magenta-process: hsla(326, 90%, 52%, 1);
$chinese-violet: hsla(306, 17%, 44%, 1);

/* SCSS RGB */
$rich-black-fogra-39: rgba(7, 7, 7, 1);
$alabaster: rgba(236, 235, 228, 1);
$moss-green: rgba(137, 137, 82, 1);
$magenta-process: rgba(243, 22, 147, 1);
$chinese-violet: rgba(131, 93, 127, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #070707ff, #ecebe4ff, #898952ff, #f31693ff, #835d7fff);
$gradient-right: linear-gradient(90deg, #070707ff, #ecebe4ff, #898952ff, #f31693ff, #835d7fff);
$gradient-bottom: linear-gradient(180deg, #070707ff, #ecebe4ff, #898952ff, #f31693ff, #835d7fff);
$gradient-left: linear-gradient(270deg, #070707ff, #ecebe4ff, #898952ff, #f31693ff, #835d7fff);
$gradient-top-right: linear-gradient(45deg, #070707ff, #ecebe4ff, #898952ff, #f31693ff, #835d7fff);
$gradient-bottom-right: linear-gradient(135deg, #070707ff, #ecebe4ff, #898952ff, #f31693ff, #835d7fff);
$gradient-top-left: linear-gradient(225deg, #070707ff, #ecebe4ff, #898952ff, #f31693ff, #835d7fff);
$gradient-bottom-left: linear-gradient(315deg, #070707ff, #ecebe4ff, #898952ff, #f31693ff, #835d7fff);
$gradient-radial: radial-gradient(#070707ff, #ecebe4ff, #898952ff, #f31693ff, #835d7fff);